*{
    padding: 0;
    margin-top: 0;
}

#pets nav{
    background-color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 999;
}
.barraMenu{
    background-color: #e0d1d0;
    border: solid #fa8072 1px;
}

#pets .logo img {
width: 370px;
height: 200px;
}

#pets nav ul li{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    background-color:#e0d1d0;
    color: #000000;
    display:inline-block;
    padding: 0px;
    margin: 0px 30px;
    min-width: 170px;
    border-radius: 10px;
    

   
} 

.navbar-brand{
    background-color:aliceblue;
    color: white;
    

}
.navbar-brand img{
    width: 90px;
    height: 80px;
}

#pets nav ul li a:hover{
    background-color: #fa8072;
    color: #ffffff;
    border-left: 0px solid #fa8072;
    border-right: 0px solid #fa8072;
    border-radius: 10px;
}


.contenido img{
    border: 1px solid #e0d1d0;
    margin-top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    
}

#pie h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    color: grey;
    text-align: center;
    margin-bottom:0px;
}

#final {
    background-color: #808080;
    color: #ffffff;
    

}
#final .encabezado tr td {
    padding: 25px;
    margin: 25px;
}


.nosotros h2 {
    background-color:#e0d1d0;
    color: #000000;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top:0px;

    
}
.nosotros p{
    background-color: #ffffff;
    color: #808080;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding:10px;
    display:inline-table;
}
.quienesSomosLogo img{
    width: 380px;
}
#pie .tarjeta{
    background-color: #ffd280;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: center;

} 
.tablaContacto{
    background-color: #ffd280;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;

    

}

.marcas h1{
    background-color: #e0d1d0;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top:0px;

}
.marcas img{
   
    width: 100%;
    height: 100%;
}

#venta img{
    height: 300px;
    background-color: #e0d1d0;
    margin: 0px 40px;

}
#venta .comip{
    margin-left:70px;
}
#venta .comig {
    margin-left:350px;
    margin-top: -40px;
}
#venta .rasca{
    margin-left: 650px;
    margin-top:-40px;
}
#venta .cuche{
    margin-left: 1050px;
    margin-top: -40px;
}


.contactanos h1{
    background-color:#e0d1d0;
    color: #ff0000;
    font-size: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-top:0px;
}
form{
    text-align: center;
    
    
}
.formulario{
    background: radial-gradient(#e0d1d0 50%, white 75%);
    
}

.flex-conteiner{
    background-color:white;
    color:black;
    display: flex;
    gap: 15px;
    flex-wrap:wrap;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}
.flex-item img{
width: 100%;
height: 250px;
border:1px solid black;
border-radius: 15px;
transition: 1s;


}

.flex-item p{
    background-color: white;
    border-style:ridge;
    border-radius: 10px;
    margin-top: 10px;
    transition: 1s;

}
.flex-item p:hover{
    background-color: orange;
    border-style:double
    

}
.flex-item img:hover{
    border:solid 10px orange;
    
}


.flex-conteiner2{
    background-color:white;
    color:black;
    display: flex;
    gap: 15px;
    flex-wrap:wrap;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    
    
}
.alimentos{
    background-color: orange;
    color:white;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: inline-block;
    border-radius: 10px;
}

.accesorio{
    background-color: orange;
    color:white;
    width: 300px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;

    display: inline-block;
    border-radius: 10px;


}

  


 
